
/* Add your profile image here */
.Photo{
    background-image: url('https://i.postimg.cc/fTBkYMMJ/depositphotos-149284860-stock-photo-little-girl-pretending-to-be.jpg');
}
/* Projects Photo */
.project1{
    background-image: url('https://i.postimg.cc/yYxhhg9p/Screen-Shot-2021-07-31-at-2-25-11-PM.png');
    cursor: none;    
}
.project2{
    background-image: url('https://i.postimg.cc/J4FnftFF/Screen-Shot-2021-07-31-at-2-00-06-PM.png');
    cursor: none;
}
.project3{
    background-image: url('https://i.postimg.cc/MZymKJwt/Screen-Shot-2021-07-31-at-1-48-56-PM.png');
    cursor: none;
}
.project4{
    background-image: url('https://i.postimg.cc/FKyHkpKt/Screen-Shot-2021-07-31-at-2-03-04-PM.png');
    cursor: none;
}
.project5{
    background-image: url('https://i.postimg.cc/hvTBNPQk/Screen-Shot-2021-07-31-at-2-12-14-PM.png');
    cursor: none;
}
.project6{
    background-image: url('https://i.postimg.cc/T1M8jMNC/Screen-Shot-2021-07-31-at-2-16-59-PM.png');
    cursor: none;
}
/* Miscelaneous Activities photo */
.misc1{
    background-image: url('https://i.postimg.cc/CMXCNMNF/Marcia-Skousen-01.png');
    cursor: none;
}
.misc2{
    background-image: url('https://i.postimg.cc/CMrS55gs/Screen-Shot-2021-07-31-at-2-53-15-PM.png');
    cursor: none;
}
.misc3{
    background-image: url('https://i.postimg.cc/jq16X6Tw/Screen-Shot-2021-07-31-at-3-43-20-PM.png');
    cursor: none;
}
